* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 100%;
    overflow-x: hidden
}

/* index */

/* Encabezado */

body {
    overflow-x: hidden
}

header {
    display: grid;
    width: 100;
    grid-template-areas:
        "logo barra"
    ;
    background-color: #D96704;
    font-size: 1.55rem;
    font-style: italic;
    font-weight: bold;
}

.logoEncabezado {
    grid-area: logo;
}

.navbar {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: barra;
}

.inicio {
    grid-area: inicio;
}

.catalogo {
    grid-area: catalogo;
}

.noticias {
    grid-area: noticias;
}

.contacto {
    grid-area: contacto;
}

.sobremi {
    grid-area: sobremi;
}

.carrito {
    grid-area: carrito;
}

.perfil {
    grid-area: perfil;
}

.logoEncabezado a {
    margin: 1.25rem
}

.logoEncabezado a img {
    width: 30%;
    border-radius: 50%;
    margin: 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Cuerpo Index*/

.articleIndex {
    background-color: #F2DAAC;
}

.articleIndex h1 {
    color: #D96704;
    font-family: cursive;
    font-weight: bold;
}

.sectionPrincipal {
    width: 100%;
    background-color: #D97904;
    padding: 2.5rem;
}

.sectionPrincipal h1 {
    color: white;
    background-color: #f2daac72;
    font-size: 1.8125rem;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #b05302;
}

.cardContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.newborn {
    grid-area: newborn;
}

.mini {
    grid-area: mini;
}

.kids {
    grid-area: kids;
}

.accesorios {
    grid-area: accesorios;
}

.card {
    width: 15rem;
    padding-bottom: 1.875rem;
    margin-bottom: 1.25rem;
    border-radius: 30%;
    border-radius: 1.25rem;
    box-shadow: 1px 1px .625rem black;
    background-color: #F2DAAC;
    position: relative;
    overflow: hidden;
}

.card div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    padding: .625rem;
    font-size: 1.5em;
    vertical-align: bottom;
}

.card p {
    padding: .625rem;
    font-size: 1.25em;
    vertical-align: bottom;
}

.btnInicioCatalogo {
    margin: 20px;
}

.btnInicioCatalogo a {
    background-color: #F2DAAC;
    padding: 1.25rem;
    border-radius: 50%;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
}

.sectionSecundaria {
    background-color: #F2DAAC;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2.5rem;
}

.sectionSecundaria div a {
    text-decoration: none;
    color: black;
}

/* Cuerpo Catalogo */

.cabeceraCatalogo {
    background-color: #F2DAAC;
    padding: 2.5rem;
}

.buscar {
    position: relative;
    padding: 10px;
}

.buscar input {
    width: 21.875rem;
    height: 2.5rem;
    padding: 20px;
    margin: 0 0 20px;
    font-size: 1.125rem;
    border: 1px solid silver;
    border-radius: 30px;
    outline: none;
}

.btn {
    background-color: #D96704;
    padding: 10px;
    top: 0;
    position: absolute;
    border-radius: 30px;
    cursor: pointer;
}

.buscadorEspecifico {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buscadorEspecifico label {
    padding: .625rem;
    font-size: 1.125rem;
    color: #D96704;
    font-weight: bold;
    border: .625rem solid #D96704;
    border-radius: 30px;
    margin: .625rem;
}

.buscadorEspecifico label select {
    width: 100%;
    padding: .3125rem;
    margin: .125rem;
    border-radius: 1.25rem;
    text-align: center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #f5f5f5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

select:focus {
    outline: none;
    border-color: #D97904;
}

.cardsContainerCatalogo {

    /* flexbox */
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    background-color: #D97904;
    border: 2.5rem double #f2daac78;
    padding: 1.25rem;
}


.card .contenido a {
    padding: 5px;
    text-decoration: none;
    background-color: #F2DAAC;
    border: 5px double #D97904;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.like {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Cuerpo Noticias */

.news {
    background-color: #F2DAAC;
    padding: 2.5rem;
}

.sectionNoticias h2 {
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 1.25rem;
}

.sectionNoticias p {
    color: black;
    font-size: 1.5em;
    padding: 1.25rem;
}

.sectionNoticias div img {
    width: 100%;
    height: 50%;
    /* border-radius: 50%; */
}

/* Contacto */

.mainContacto {
    background-color: #F2DAAC;
    padding: 2.5rem;
}

.contactoPrincipal h3 {
    padding: 1.25rem;
}

.mainContacto div ul li {
    list-style: none;
}

.mainContacto div ul li a {
    text-decoration: none;
    color: black;
    padding: 1.875rem;
}

.mainContacto div h3 {
    padding: 2.5rem;
}

.contactoSecundario {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2.5rem;
}

.contactoSecundario a {
    text-decoration: none;
    color: black;
    padding: 1.875rem;
}

.maps {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* pagina Sobre Mi */
.mainSobremi {
    width: auto;
    background-image: url("../assets/img/foto-sobremi-pikabu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    padding: 2.5rem;
}

.sectionSobremi h2 {
    color: black;
    font-family: cursive;
    font-size: 2.5rem;
    margin: 3.125rem;
    padding: 2.5rem;
    text-align: center;
    border-color: #D96704;
    border-style: double;
    background-color: #f2daac5d;
}

.sectionSobremi p {
    color: black;
    font-family: cursive;
}

.sectionVideo {
    padding: 3.75rem;
    font-weight: bold;
    font-size: 2.5rem;
}

.sectionVideo h3 {
    width: auto;
    background-color: #f2daac5d;
    color: black;
    margin-bottom: 2rem;
    padding: 2.5rem;
    border-color: #D96704;
    border-style: double;
}

.sectionVideo video {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

/* footer */

footer {
    background-color: #D96704;
    width: 100%;
    text-align: center;
    font-size: 1.50rem;
    font-style: italic;
    font-weight: bold;
}

footer div a .logoPie {
    padding: 1.25rem;

}

footer .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.footlog {
    margin: .625rem
}

.rrss {
    padding: 1.25rem;
}

.footcontacto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: column;
}

.footcontacto ul li a {
    text-decoration: none;
    color: black;
}

footer .spotify {
    padding: 1.25rem;
}

/* Responsive */

/* INICIO */

@media (max-width:1024px) {
    header {
        grid-template-areas:
            "logo"
            "barra"
        ;
    }

    .navbar {
        justify-content: center;
        align-items: center;
    }

    .sectionPrincipal h1 {
        font-size: 1.25rem;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(2, 50%);
        grid-template-areas:
            "newborn mini"
            "kids accesorios"
        ;
        justify-content: center;
        align-content: center;
        margin-left: 8.125rem;
    }
}

@media (max-width:768px) {
    .navbar {
        font-size: 1.25rem;
    }

    .sectionPrincipal {
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cardContainer {
        margin-left: 7.5rem;
    }

    footer {
        font-size: 1.50rem;
    }
}

@media screen and (max-width: 636px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }

    .navbar ul {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar li {
        margin-bottom: 10px;
    }

    .sectionPrincipal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .cardContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-right: 7.5rem;
    }

    .card {
        margin: 0 1.25rem 1.25rem;
        text-align: center;
    }
}


@media (max-width:428px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .logoEncabezado a img {
        width: 50%;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
    }

    .cardContainer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "newborn"
            "mini"
            "kids"
            "accesorios"
        ;
    }

    .sectionSecundaria {
        font-size: 1.125rem;
    }

    .footer {
        font-size: 1.125rem;
    }
}

@media (max-width:360px) {
    .cardContainer {
        margin-right: 7rem;
    }

    .spotify {
        height: 12.5rem;
    }
}

@media (max-width:320px) {
    .navbar ul {
        font-size: 1.125rem;
    }

    .articleIndex {
        font-size: 0.75em;
    }

    .cardContainer {
        margin-right: 7.1rem;
    }

    footer {
        padding-bottom: 2.50rem;
    }

    .spotify {
        height: 12.5rem;
    }
}

/* CATALOGO */

@media screen and (max-width: 636px) {
    .cardsContainerCatalogo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin-bottom: 0px 1.25rem 1.25rem;
        text-align: center;
    }

}

@media (max-width:428px) {
    .buscar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buscar input {
        width: 100%;
        padding: 1.25rem;
    }

    .btn {
        width: 20%;
        top: 0;
        right: 0;
    }

    .cardsContainerCatalogo {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 1rem;
    }

    .footlog {
        margin: 1rem;
    }
}

/* CONTACTO */
@media (max-width:428px) {
    .mainContacto {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mainContacto section {
        width: 100%;
    }

    .contactoSecundario {
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;
    }

    .contactoSecundario div {
        width: 100%;
        margin-right: 4.375rem;
    }

    .contactoSecundario div h3 {
        display: flex;
        justify-content: center;
        align-content: center;
        white-space: nowrap;
        margin-left: 3.5rem;
    }

    .contactoSecundario div {
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }

    .contactoSecundario a {
        text-align: center;
        width: 100%;
        white-space: nowrap;
    }


}