/* 1-variable mixins mapas = utilities */
/* 2-carpeta base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  width: 100%;
  /* sino funciona ver aqui */
  height: 100%;
  overflow-x: hidden; }

header {
  display: flex;
  flex-direction: none;
  flex-wrap: none;
  justify-content: center;
  align-items: none;
  gap: none;
  background-color: #D96704;
  font-size: 1.55rem;
  font-style: italic;
  font-weight: bold; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.articleIndex {
  background-color: #F2DAAC; }
  .articleIndex div {
    padding: 1rem;
    margin: 0 1rem; }
    .articleIndex div img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto; }
  .articleIndex h1 {
    color: #D96704;
    text-shadow: .0625rem .0625rem black;
    font-family: cursive;
    font-weight: bold; }
  .articleIndex div h4 {
    margin-bottom: 0;
    padding: .3125rem; }

.sectionPrincipal {
  width: 100%;
  background-color: #D97904;
  padding: 2.5rem; }
  .sectionPrincipal h1 {
    color: white;
    background-color: #f2daac72;
    font-size: 1.8125rem;
    text-align: center;
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #b05302; }
