@media (max-width: 428px) {
    .mainContacto {
        display: flex;
        flex-direction: column;
        align-items: center;

        section {
            width: 100%;
        }
    }

    .contactoSecundario {
        flex-direction: column;
        align-items: center;
        margin: 0 1rem;

        div {
            width: 100%;
            margin-right: 4.375rem;
            justify-content: space-between;
            width: 100%;
            padding: 0;
        }

            h3 {
                display: flex;
                justify-content: center;
                align-content: center;
                white-space: nowrap;
                margin-left: 3.5rem;
            }

        a {
            text-align: center;
            width: 100%;
            white-space: nowrap;
        }
    }
}