footer {
    background-color: $color-principal;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;

    .footlog {
        margin: 0 1.25rem;
            a{
                img{
                    width: 130px;
                    height: 145px;
                }
            }
            p{
                color: black;
            }
    }
    .container{
            h2{
                color: black;                
            }
            a{
                text-decoration: none;
                color: black;
            }
            .list-unstyled{
                li{
                    padding: .5rem;
                }
            }
    }

    .spotify {
        padding: 1rem;
        border-radius: .75rem;
    }
}