footer {
    background-color: $color-principal;
    font-size: 1.50rem;
    font-style: italic;
    font-weight: bold;

    .footlog {
        margin: 0 1.25rem;
    }

    .spotify {
        padding: 1.25rem;
    }
}