.mainSobremi {
    width: 100%;
    height: auto;
    background-color: $color-secundario;
    padding: 2.5rem;

    h1 {
        border-color: $color-principal;
        border-style: double;
        background-color: #f2daac5d;
    }

    p {
        color: black;
        font-weight: bold;
        text-shadow: .0625rem .0625rem whitesmoke;
        font-family: cursive;
    }
}

.sectionSobremi {
    background-image: radial-gradient(circle, #d96704, #d96b03, #d96e03, #d97203, #d97503, #db7f19, #dd8929, #df9337, #e3a654, #e8b870, #edc98e, #f2daac);;
    border-radius: 1.875rem;
    padding: 1.25rem;
}

.sectionVideo {
    @include flexbox (column,nowrap,center,center);
    padding: 3.75rem;
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
        @include iframe;
    }
}