.errorContainer {
    height: 100vh;
    @include flexbox (column, none, center, center);
    gap: 50px;

    img {
        width: 35vh;
        border-radius: 25%;
        box-shadow: 5px 10px $color-principal;
    }

    h1 {
        color: $color-principal;
        text-shadow: 1px 1px black;
        font-size: 5vh;
        padding: 20px;
    }

    a {
        text-decoration: none;
        font-size: 3vh;
        font-weight: bold;
        padding: 13px 30px;
        border-radius: 15px;
        border: none;
        background: $color-principal;
        color: white;
        cursor: pointer;
    }
}