* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: map-get($fuentes, georgia), map-get($fuentes, times-new-roman), map-get($fuentes, times), map-get($fuentes, serif);
    text-align: center;
    margin: 0;
    height: 100%;
    
}
